{% if messages %}
{% for message in messages %}
    {% if message.tags == 'success' %}
        <div class="alert alert-success  fade show" role="alert" style="margin-top: 16px;">
           {{message}}
           
        </div>
    {% elif message.tags == 'error' %}
        <div class="alert alert-success  fade show" role="alert" style="margin-top: 16px;">
            {{message}}
            
        </div>
    {% elif message.tags == 'warning' %}
        <div class="alert alert-warning  fade show" role="alert" style="margin-top: 16px;">
            {{message}}
           
        </div>
    {% else %}
        <div class="alert alert-info  fade show" role="alert" style="margin-top: 16px;">
            {{message}}
            
        </div>
    {% endif %}
    
{% endfor %}

{% endif %}