{% extends 'header.html' %} 

{% block content %} 
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <div class="col">
       <div class="card radius-10">
          <div class="card-body">
             <h4 style="font-size:13px !important">Card 1</h4>
             <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                   <h5 style="margin-bototm:20px;font-size:32px;color:#366dc7;font-weight:bold;">data 1</h5>
                </div>
             </div>
          </div>
       </div>
    </div>
 
    <div class="col">
       <div class="card radius-10">
          <div class="card-body">
             <h4 style="font-size:13px !important">Card 2</h4>
             <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                   <h5 style="margin-bototm:20px;font-size:32px;color:#366dc7;font-weight:bold;">data 2</h5>
                </div>
             </div>
          </div>
       </div>
    </div>
 
 
    <div class="col">
       <div class="card radius-10">
          <div class="card-body">
             <h4 style="font-size:13px !important">card 3</h4>
             <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                   <h5 style="margin-bototm:20px;font-size:32px;color:#366dc7;font-weight:bold;">Data 3</h5>
                </div>
             </div>
          </div>
       </div>
    </div>
 
 </div>
{% endblock %}
